nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: inline-block;
    padding: 20px;
}

h1 {
    color: steelblue;
    padding: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 1rem;
}

aside {
    width: 20rem;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    position: relative;
}

footer {
    margin-top: 2em;
    border-top: 3px solid darkslategray;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,.2);
    background-color: darkslategray;
    color: wheat;
}

.box a:link, .box a:visited {
    color: lightgray;
}

aside h2 {
    position: absolute;
    top: 530px;
    left: 150px;
    z-index: 6;
}

main {
    width: 55em;
}